.bg-a {
  background-color: #ab000b;
}
.bg-b{
  background-color: #5d944e;
}
.bg-c {
  background-color: #fdbb0d;
}
.bg-d {
  background-color: #5181de;
}
.bg-e {
  background-color: #ba770d;
}
.bg-f {
  background-color: #666665;
}
.bg-g {
  background-color: #fe6600;
}
.bg-h{
  background-color: #68171e;
}
